.boxleft {
	width: 500px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,58,59,0.0);
	font-size: 15;
	font-family: gothic;
	color: #555;
}
p.title {
	font-size: 23;
	font-family: nexa;
	margin-bottom: 12px;
	font-weight: bold;
}
.boxright {
	position: absolute;
	z-index: 20;
	margin-top: 40px;
	margin-left: 540px;
}
#vestor-title {
	color: #FFF;
	background-color: #F5B800;
	padding: 5px 10px;
}
#vestor-feedback {
	font-size: 14px;
}
#vestor-consumer {
	font-size: 14.3px;
}