@font-face {
	font-family: design;
	src: url('../font/designosaur.ttf');
}
@font-face {
	font-family: geneva;
	src: url('../font/geneva.ttf');
}
@font-face {
	font-family: dextera;
	src: url('../font/dextera.ttf');
}
@font-face {
	font-family: myriad;
	src: url('../font/myriadpro.otf');
}

#test {
	background-color: red;
	height: 100px;
	width: 100px;
	visibility: hidden;
}
/* General Content */
body {
	margin: 0;
   	padding: 0;
   	height: 100%;
   	overflow-y: hidden;
   	background-color: #000000;
}
#wrapper {
   	min-height: 100%;
}
#main {
	position: absolute;
	margin-top: 56px;
	width: 100%;
	min-width: 1280px;
	overflow: hidden;   /* Height of the footer */
}
.main-content {
	position: absolute;
	z-index: 7;
}
a {
	text-decoration: none;
}
#contact-content h3, #about-content h3 {
	font-family: dextera;
	font-size: 25px;
	margin-left: 20px;
	line-height: 25px;
}
.background-image {
	position: absolute;
	margin-top: -56px;
	width: 100%;
	z-index: 0;
}
.linkmenu ul, .tab-menu ul, #producersc ul {
	list-style-type: none;
}
.linkmenu ul li, .tab-menu ul li {
	float: left;
}

/* Header */
#header {
	position: absolute;
   	background: rgba(0,0,0,0.8);
   	padding: 3px;
   	width: 100%;
   	min-width: 1280px;
   	height: 50px;
   	z-index: 5;
}
#title {
	float: left;
	height: 100%;
	margin-left: 15px;
}
#head-menu {
	float: right;
}
#head-menu ul {
	position: relative;
	float: left;
	bottom: 0;
}
#head-menu ul li {
	padding-right: 40px;
}
#head-menu ul li a {
	font-family: design;
	font-size: 18px;
	letter-spacing: 1px;
}
#selection {
	position: absolute;
	border-style: none;
	background: rgb(255,222,0);
	margin-top: 50px;
	margin-left: 40px;
	height: 3px;
}
#ticket {
	position: relative;
	float: right;
	margin-top: -15px;
	height: 140px;
}
#ticket h1 {
	font-family: design;
	text-align: center;
	margin-top: -120px;
	margin-left: -5px;
	color: rgb(0,0,0);
	line-height: 35px;
}

/* Footer */
#footer {
   	position: absolute;
   	width: 100%;
  	bottom: 0;
   	min-width: 1280px;
   	height: 80px;   /* Height of the footer */
   	background: rgb(255,222,0);
   	font-family: geneva;
   	z-index: 5;
   	padding: 3px;
   	text-align: center;
}
#foot-menu ul {
	float: right;
	margin-right: 20px;
}
#foot-menu ul li a {
	color: rgb(0,0,0);
	margin-right: 5px;
}

/* Tab Content Style */
.tab-menu {
	font-family: design;
}
.tab-menu li {
	cursor: pointer;
	background-color: rgb(255,222,0);
	border-radius: 10px 10px 0px 0px;
}
.tab-menu li:hover {
	margin-top: -10px;
	border-bottom: 10px solid;
}
.tab-content {
	float: left;
	border-radius: 5px;
	padding: 20px;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	overflow-y: auto; 
}
.tab-content p, .tab-content li {
	font-family: geneva;
}
.tab-content h4 {
	margin-top: -10px;
	font-family: myriad;
	font-size: 20px;
}
.belowtitle {
	margin-top: -15px;
	color: #000;
	border: 0px solid rgb(128, 128, 128);
	height: 2px;
	opacity: 0.5;
    background: #999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#cccccc'); /* for IE */
    background: -webkit-gradient(linear, left top, right top, from(#000), to(#ccc)); /* for webkit browsers */
    background: -moz-linear-gradient(left,  #000,  #ccc); /* for firefox 3.6+ */
}

/* Home Page */
#trailer {
	width: 100%;
	margin-top: 0px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper object,
.videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#home-banner {
	position: absolute;
	top: 65%;
	float: left;
	width: 500px;
	height: 100px;
	background-color: rgba(255,255,255,0.3);
	z-index: 7;
}
#home-logo {
	float: left;
	position: relative;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 8;
}
#home-details {
	float: left;
	position: relative;
	font-family: myriad;
	color: rgb(0,0,0);
}
#home-details h2 {
	position: relative;
	margin-top: 15px;
	margin-bottom: -10px;
}

/* NUANSA Page */
#coming-soon {
	position: relative;
	float: left;
	width: 200px;
	margin-top: 15%;
	margin-left: 45%;
	z-index: 8;
	font-family: design;
}

/* About Page */
#about-content {
	float: left;
	margin-left: 7%;
	margin-top: 4%;
	width: 45%;
}
#about-content div ul li {
	padding: 5px 8px;
}

/* History Page */
#history-content {
	float: left;
	margin-left: 48%;
	margin-top: 1%;
	width: 45%;
}
#history-content div ul li {
	padding: 5px 20px;
}
#history-content img {
	width: 100%;
}

/* Contact Us Page */
#contact-content {
	position: absolute;
	width: 30%;
	margin-left: 60%;
	margin-top: 80px;
	overflow: visible;
}
#producersc table {
	position: relative;
	margin: 0 auto;
}

#producersc img:hover {
	box-shadow: 3px 3px 7px rgb(0,0,0);
	background-color: rgba(255,255,255,0.8);
}
.producers-mail {
	font-size: 14px;
}